.wrapper {
    height: 91.85vh;
    margin-left: 304px;
  }
  
  .function-site {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  
  .btn-add {
    font-size: 1.8rem;
    width: 169px;
    background: var(--primary);
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 40px;
  
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  
  .search-site {
    height: 100%;
    display: flex;
    justify-content: center;
    max-width: 300px;
    color: #242424;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 40px;
  }
  
  .search-btn {
    font-size: 1.8rem;
    padding: 8px;
    cursor: pointer;
    background-color: white;
  }
  
  .input-search {
  }
  
  .clear {
    font-size: 1.8rem;
    padding: 8px;
    cursor: pointer;
    background-color: white;
  }
  
  .table-site {
    width: 95%;
    max-height: 80vh;
    margin: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    --tw-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
    --tw-shadow-colored: 0px 8px 13px -3px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .close {
    display: flex;
    width: 100px;
    height: 50px;
  }
  
  .btn-close {
    background-color: var(--primary);
    font-size: 1.8rem;
    color: white;
    flex: 1;
    margin: 8px;
    border-radius: 16px;
  
    &:hover {
      cursor: pointer;
      opacity: 0.7px;
    }
  }

  .table-form{
    display: flex;
    th{
      margin: 0 8px 0 8px;
    }
  }

  .column-form{
    display: flex;
    justify-content: space-between;
  }
  
  .table {
    display: flex;
    flex-direction: column;
  }
  
  .table-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  
  .row-site {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: #aac8a7;
  }
  
  .row-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  
  .size-grid {
    display: flex;
    flex-direction: row;
    &FormControlLabel {
      flex-direction: row;
    }
  }
  
  .size-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .item-site1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.25rem;
    font-size: 1.4rem;
    background-color: white;
  }
  
  .item-site {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    font-size: 1.4rem;
    background-color: white;
  }
  
  .item-content {
    display: block;
  }
  
  .wrapper-icon {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .icon-action {
    font-size: 1.6rem;
    padding: 8px;
  
    &:hover {
      cursor: pointer;
      border-radius: 99px;
      background-color: #aac8a7;
    }
  }
  