.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;
  --gl-spacing-0400: 40px;

  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.inner {
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  width: 400px;
  display: flex;
}

.logo {
  height: 50%;
  width: 200px;
  cursor: pointer;
}

.pre-desktop-menu {
  width: 520px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 10px;
  background-color: transparent;
}

.pre-desktop-menu-item {
}

.dropdown-toggle {
  padding: 15px 20px 15px;
  position: relative;
  font-size: 2.3rem;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid var(--primary);
  }
}

.search-place {
  display: flex;
  width: 400px;
  justify-content: flex-end;
  align-items: center;
}

.infor-btn {
  display: flex;
  width: 150px;
  justify-content: center;
}

.shopping-btn {
  font-size: 2.3rem;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  width: 50px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.25);
    border-radius: 100px;
  }
}

// Dropdown menu
.dropdown-menu {
  display: block;
  position: absolute;
  left: -799px;
  width: 1920px;
  max-height: 480px;
  // padding: 2rem 0 4rem;
  top: -10px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
}

.wrapper-product {
  display: flex;
  flex-direction: column;
  margin: 30px 20px 0px 20px;
  color: #757575;
  cursor: pointer;

  &:hover{
    color: #111;
  }
}

.item-avatar {
  width: 260px;
  height: 260px;
}

.wrapper-title {
  display: flex;
  justify-content: center;
}

.title-product {
  opacity: 1;
  margin: 0px;
  padding: 14px 0px 40px 0px;
  height: auto;
  font-size: 2.3rem;
  position: initial;
}

.style-divider {
  width: 2px;
  border-right: #a5a5a5 2px solid;
  margin: 15px 80px 30px 0px;
  max-height: 280px;
}

// dropdown-menu-gender
.dropdown-menu-male {
  display: block;
  position: absolute;
  left: -904px;
  width: 1920px;
  max-height: 480px;
  top: -10px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
}

.dropdown-menu-female {
  display: block;
  position: absolute;
  left: -1007px;
  width: 1920px;
  max-height: 480px;
  top: -10px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgb(43 36 25 / 40%);
}

.wrapper-li {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px;
}


.title {
  margin-bottom: 5px;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.type-product {
  width: 200px;
  margin-bottom: 5px;
  color: #757575;
  cursor: pointer;

  &:hover{
    color: #111;
  }
}


//menu items
.content{
  width: 240px;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.title-menu {
  padding: 4px 8px;
  margin-bottom: 12px;
  color: #111;
  cursor: pointer;
  font-weight: 500;
}

.menu-items{
  width: 100%;
  display: inline-block;
  text-align: start;
  font-size: 1.4rem;
  line-height: 20px;
  color: #757575;
  padding: 4px 8px;  
  font-weight: 500;
  background: transparent;
  cursor: pointer;

  &:hover{
    color: #111;
  }
}

.user {
  font-size: 2.3rem;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  width: 50px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.25);
    border-radius: 100px;
  }
}

.login-btn {
  font-size: 1.6rem;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid var(--primary);
  }
}
